/* Imports */

@import url('https://fonts.googleapis.com/css?family=Oswald');
/* font-family: 'Oswald', sans-serif; */

/* Variaveis */

:root {
    --nav-height: 130px;
}

/* Globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}

.clear {
    clear: both;
}