/* Header */

header {
    padding: 20px 2% 35px 2%;
    height: var(--nav-height);
}

header.menu div.logo {
    float: left;
}

header.menu nav.desktop {
    float: right;
    position: relative;
    top: 30px;
}

header.menu nav.desktop ul {
    list-style-type: none;
}

header.menu nav.desktop ul li {
    float: left;
    font-size: 1.5rem;
    font-style: italic;
}

header.menu nav.desktop ul li a {
    color: black;
    text-decoration: none;
    padding: 0 30px;
}

header.menu nav.desktop ul li a.active {
    color: #EB2D2D;
}

/* Banner */

section.banner {
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

section.banner .text-banner {
    padding: 100px;
    width: 100%;
}

section.banner .text-banner .text-banner-single {
    width: 314px;
    margin-top: 20px;
    height: 50px;
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 5px 30px;
    text-transform: uppercase;
    font-style: italic;
}

section.banner .text-banner .text-banner-single:nth-of-type(2) {
    width: 200px;
    position: relative;
    left: -10px;
}

section.banner .text-banner .text-banner-single:nth-of-type(3) {
    width: 120px;
    position: relative;
    left: -17px;
}

section.banner .text-banner .text-banner-single:nth-of-type(4) {
    padding: 10px 30px;
    width: 320px;
    position: relative;
    height: 50px;
    background-image: url('../images/box-white-text.png');
    color: black;
    left: -22px;
    font-size: 1.25rem;
}